.page {
  background-color: #e0dbdb;
}

.jumbotron {
  background-color: #9fccce;
  border: 2px solid black;
  border-radius: 0 !important;
}

.border {
  border: 2px solid black;
  background-color: #9fccce;
  padding-right: 50px
}

.border-2 {
  background-color: #9fccce;
  margin-top: 30px;
  border: 10px double black;
  padding: 30px 50px 30px 40px;
}

.language {
  color: blue
}

.img-1 {
  float: right;
  border: 2px solid black;
  margin-top: 30px;
  padding: 30px 50px 30px 445px;
}
