.page {
  background-color: #e0dbdb;
}

.jumbotron {
  background-color: #9fccce;
  border: 2px solid black;
  border-radius: 0 !important;
}

.border {
  border: 2px solid black;
  background-color: #9fccce;
  padding-right: 50px
}

.language {
  color: red
}
