.page {
  background-color: #e0dbdb;
}

.jumbotron {
  background-color: #9fccce;
  border: 2px solid black;
  border-radius: 0 !important;
}

.border {
  border: 2px solid black;
  background-color: #9fccce;
  padding-right: 50px
}

.col-md-8 {
  padding: 35px;
}

.border-2 {
  background-color: #9fccce;
  margin-top: 30px;
  padding: 30px 50px 30px 40px;
}

.language {
  color: #139916;
}

.img-1 {
  float: right;
  margin-top: 30px;
}

.span-text {
  font-size: 36pt;
  float: left;
  padding: 100px 200px 50px 50px;

}
